# Node 서버 설정
NODE_HOST=0.0.0.0
NODE_PORT=8080

# MySQL 연결 설정
MYSQL_HOST=localhost
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=db
MYSQL_CONNECTION_LIMIT=40

# Flask API URL (프록시 및 프론트엔드 설정용)
FLASK_API_URL=http://localhost:5050
NODE_API_URL=http://localhost:8080
