# Flask 서버 설정
FLASK_HOST=0.0.0.0
FLASK_PORT=5050
FLASK_DEBUG=False

# steelprice.co.kr 자격증명
STEEL_PRICE_ID=your_steelprice_id
STEEL_PRICE_PW=your_steelprice_password

# steeldaily.co.kr 자격증명
STEELDAILY_ID=your_steeldaily_id
STEELDAILY_PW=your_steeldaily_password

# steelin.co.kr 자격증명
STEELIN_ID=your_steelin_id
STEELIN_PW=your_steelin_password
